<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Band</title>
	</head>
	<body>
		<div class="main-container">
			<%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
			<div class="content">
				<h1>EDIT BAND</h1>
					<form action="/bands/edit/<%= band.band_id %>" method="POST">
						<div class="form-group">
							<input
								type="text"
								name="band_name"
								value="<%= band.band_name %>"
								required
							/>
							<input
								type="text"
								name="band_singer"
								value="<%= band.band_singer %>"
								required
							/>
							<input
								type="text"
								name="band_label"
								value="<%= band.band_label %>"
								required
							/>
							<input
								type="number"
								name="number_albums"
								value="<%= band.number_albums %>"
								required
							/>
							<input
								type="text"
								name="favourite_album"
								value="<%= band.favourite_album %>"
								required
							/>
							<!-- Add other fields as necessary -->
							<button type="submit">Update Band</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<%- include('./partials/foot.ejs') %>
</html>
